@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Poppins' !important;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar{
    -ms-overflow-style: none;
}

th{
    font-weight: 500 !important
}

th {
    @apply px-[10px] pb-[10px] text-[12px] leading-[18px] whitespace-nowrap h-1/6;
}
td {
    @apply p-[10px] h-[41px] text-[14px] leading-[21px] whitespace-nowrap ;
}

.overlay-background {
    background-image: url('/src/assets/FieldOverlay.png');
    background-size: cover; /* or contain, depending on what you need */
    background-repeat: no-repeat;
    background-position: center;
    
}

.overlay {
    @apply absolute top-0 left-0 w-full h-full;
    background: linear-gradient(
        to bottom, 
        rgba(34, 34, 34, 0), 
        rgba(34, 34, 34, 0.38), 
        rgba(34, 34, 34, 1)
    );
}